@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.App {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center;
  position: absolute;
  color: white;
  width: 95%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#logo{
  font-family: 'Press Start 2P';
}

.content{
  display: flex;
  justify-content: center;
  margin-left: 10%;
}


.home{
  justify-content: right;
}

footer{
  margin-top: 100px;
}