@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.App {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center;
  position: absolute;
  color: white;
  width: 85%;
  margin-left: 7.5%;
  border: 1px solid rgba(66, 69, 75, 0.25);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

#logo{
  font-family: 'Press Start 2P';
}

.content{
  display: flex;
  justify-content: center;
  margin-left: 10%;
}


.home{
  justify-content: right;
}

footer{
  margin-top: 300px;
}

.Shop h3{
  font-size: 3rem; 
}